beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
click-option-group==0.5.3
cycler==0.10.0
Cython==0.29.24
Flask==2.0.1
Flask-Cors==3.0.10
idna==3.2
importlib-metadata==4.8.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
nltk==3.6.3
numpy==1.21.2
pandas==1.3.3
Pillow==8.3.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
rdflib==6.0.1
rdflib-jsonld==0.6.2
regex==2021.9.24
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
-e git+https://github.com/KnowledgeCaptureAndDiscovery/somef.git@54a2143d3c81f752a679157c665e4795f99132e0#egg=somef
soupsieve==2.2.1
textblob==0.15.3
threadpoolctl==2.2.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
zipp==3.5.0
